html, body {
	margin: 0;
	padding: 0;
}

.crawler {
	margin: 50px;

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 20px 0;
		td {
			padding: 10px;
			border: 1px solid #ccc;
		}
	}
}
