@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <meta property="og:image" content="@routes.Assets.versioned("favicon.png")">
        <meta property="og:description" content="Url to title, description, and image.">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("less.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("favicon.png")">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        @head
    </head>
    <body class="crawler">
        @content
    </body>
</html>
