@(q:String)
@_baseSkeleton("crawlaer.aha00a.com") {
    <script type="text/javascript">
        $(function(){
            $.get(
                '/get',
                { q: $('.form [name=q]').val() },
                function (data, textStatus, jqXHR) {
                    $('.result').append($("<pre/>").text(JSON.stringify(data)));
                    $('.result').append(ich.resultTable(data));
                }
            ).error(function (jqXHR, textStatue, httpStatus) {
                $('.result').append($("<pre/>").text(JSON.stringify(jqXHR.responseJSON)));
            });
        });
    </script>
    <script type="text/html" id="resultTable">
        <table>
            <tr>
                <th>title</th>
                <td>{{title}}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{description}}</td>
            </tr>
            <tr>
                <th>image</th>
                <td><img src="{{image}}" /></td>
            </tr>
        </table>
    </script>
} {
    <h1><a href="/">crawler.aha00a.com</a></h1>
    <form class="form">
        <label>Url: <input type="text" name="q" value="@q" style="width: 80%"/></label>
        <input type="submit"/>
    </form>
    <div class="result">

    </div>
}
