@(q:String)
@_baseSkeleton("crawlaer.aha00a.com") {
    <script type="text/javascript">
        $(function(){
            $.get(
                '/get',
                { q: $('.form [name=q]').val() },
                function (data, textStatus, jqXHR) {
                    var $result = $('.result');
                    $result.append($('<pre class="json"/>').html(jsonPrettyPrint(JSON.stringify(data, null, 4))));
                    if(data.image) {
                        $result.append($("<img/>").attr('src', data.image));
                    }
                }
            ).error(function (jqXHR, textStatue, httpStatus) {
                $('.result').append($('<pre class="json"/>').html(jsonPrettyPrint(JSON.stringify(jqXHR.responseJSON, null, 4))));
            });
        });

        function jsonPrettyPrint(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
} {
    <h1><a href="/">crawler.aha00a.com</a></h1>
    <form class="form">
        <label>Url: <input type="text" name="q" value="@q" style="width: 80%"/></label>
        <input type="submit"/>
    </form>
    <div class="result">

    </div>
}
